name: CI

on: push

env:
  CARGO_TERM_COLOR: always

jobs:
  build:
    strategy:
      matrix:
        OS: ["ubuntu-latest", "macos-latest", "windows-latest"]
    runs-on: ${{ matrix.OS }}
    env:
      RUST_BACKTRACE: True
    steps:
      - name: Checkout branch
        uses: actions/checkout@v4
        with:
          ref: ${{ github.head_ref }}
      - uses: prefix-dev/setup-pixi@v0.9.3
        with:
          pixi-version: v0.62.2
          cache: true
      - name: Formatting
        run: pixi run fmt
      - name: Clippy
        run: pixi run clippy
      - name: Run tests
        run: pixi run test
